body
{
    background-color: #051414;
    color: #33cccc;
}

.bullet
{
    height: 16px;
    width: 16px;
}

.card
{
    background-color: #112e2e;
}

.card-body
{
    background-color: #1f4646;
}

.card-footer
{
    background-color: #112e2e;
}

.card-value
{
    color: white;
}