.bullet
{
    height: 16px;
    width: 16px;
}

.lock
{
    margin: 0 0 0 5px;
    height: 14px;
    width: 12px;
    font-style: italic; 
}

.dark-theme {
    background-color: #051414;
    color: #33cccc;
    filter: contrast(100%) saturate(100%);
}

.dark-card
{
    background-color: #112e2e !important;
}

.dark-card-body
{
    background-color: #1f4646 !important;
}

.dark-card-footer
{
    background-color: #112e2e !important;
}

.dark-card-value
{
    color: white !important;
}

.dark-imgFilter {
    filter: contrast(100%) saturate(100%) brightness(100%);
}

.light-theme {
    background-color: #ebfafa;
    color: #153737;
    filter: contrast(100%) saturate(100%);
}

.light-card
{
    background-color: #7ecece;
}

.light-card-body
{
    background-color: #b8e0e0;
}

.light-card-footer
{
    background-color: #7ecece;
}

.light-card-value
{
    color: Black;
}

.light-imgFilter {
    filter: contrast(200%) saturate(200%) brightness(70%)
}

.options {
    margin: 10px 10px 10px 0;
    text-align: right;
}

.dark-button {
    background-color: #1f4646;
    color: white;
    font-size: small;
}

.light-button {
    background-color: white;
    color: #051414;
    font-size: small;

}